<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="header">
    <header id="topnav">
        <!-- Topbar Start -->
        <div class="navbar-custom" style="background-color: white">
            <div class="container-fluid" style="width: 96.5%;">
                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li class="d-none d-sm-block">
                        <form>
                            <div>
                                <div style="background-color: gainsboro;position: relative;display: flex;flex-wrap: wrap;align-items: stretch;width: 100%;">
                                    <div class="logo-box" style="padding:10px; ">
                                        <a href="/home" class="logo text-center">
                                    <span class="logo-lg">
                                        <img src="/assets/images/imager_26_36862_700.jpg" alt="" height="80"
                                             style="border-radius: 10px;">
                                    </span>
                                        </a>
                                    </div>
                                    <div class="bg text-light text-left col-sm-9"
                                         style="padding-top:30px; padding-left: 10px"><input type="text" placeholder="Search..." style="heigth:70%" class="form-control">
                                    </div>
                                    <div class="input-group-append" style="padding-top:20px">
                                        <button class="btn" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                    <div style="padding-top:20px">
                                        <button class="btn btn-outline-light" id="btnShowCart" type="button">
                                            <i class="fas fa-cart-arrow-down"></i>
                                            <span class="cart-quantity"></span>
                                        </button>
                                    </div>
                                    <div style="margin: auto;" th:if="${user != null}">
                                        <div th:if="${role.getCode().equalsIgnoreCase('user')}">
                                            <div class="btn-group" style="margin: auto 0;">
                                                <button class="btn  dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                        style="border-radius: 50%;border:none;margin: auto">
                                                    <img src="/assets/images/user.png" alt="user-image"
                                                         style="border-radius: 50%;width: 40px;height: 40px;">
                                                    <span class="pro-user-name ml-1">
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </span>

                                                </button>
                                                <span class="pro-user-name ml-1">
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </span>
                                                <th:block th:text="${username}"/>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div th:if="${role.getCode().equalsIgnoreCase('admin')}">
                                            <div class="btn-group col-sm-0" style="margin: auto 0;">
                                                <button class="btn  dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                        style="border-radius: 50%;border:none;margin: auto">
                                                    <img src="/assets/images/user.png" alt="user-image"
                                                         style="border-radius: 50%;width: 40px;height: 40px;">
                                                    <span class="pro-user-name ml-1">
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </span>

                                                </button>
                                                <span class="pro-user-name ml-1">
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </span>
                                                <th:block th:text="${username}"/>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="/products">List of Product</a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="/users">List of User</a></li>
                                                    <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin: auto;width: 30px;"  th:if="${user == null}">
                                        <a href="/login">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            <span>Đăng Nhập</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
</th:block>