<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="head">
<!--    <link rel="shortcut icon" href="/assets/favicon.ico">-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="/assets/bootstrap/v5.2.2/css/bootstrap.css">-->
<!--&lt;!&ndash;    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="/assets/css/preview-image.css">-->
<!--    <link rel="stylesheet" href="/assets/izitoast/v1.4.0/iziToast-1.4.0.min.css">-->
<!--    <link rel="stylesheet" href="/assets/font-awesome/v5.15.4/css/all.min.css">-->
<!--    <link rel="stylesheet" href="/assets/sweetalert/v2/sweetalert2.min.css">-->
<!--    <link rel="stylesheet" href="/assets/css/style.css">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/preview-image.css">
    <link rel="stylesheet" href="/assets/izitoast/v1.4.0/iziToast-1.4.0.min.css">
    <link rel="stylesheet" href="/assets/font-awesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/sweetalert/v2/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- plugin css -->
    <link href="/assets/libs/jquery-vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/upload.css">
</th:block>
